{% for decorator in decorators -%}
{{ decorator }}
{% endfor -%}
class {{ class_name }}(Enum):
{%- for field in fields %}
    {% if field.name|int(-1) != -1 %}_{% endif %}{{ field.name }} = {{ field.default }}
{%- endfor -%}
